USE [master]
GO
/****** Object:  Database [BibliotecaPazu]    Script Date: 26/04/2026 15:23:40 ******/
CREATE DATABASE [BibliotecaPazu]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BibliotecaPazu', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER01\MSSQL\DATA\BibliotecaPazu.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BibliotecaPazu_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER01\MSSQL\DATA\BibliotecaPazu_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BibliotecaPazu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BibliotecaPazu]
GO
/****** Object:  UserDefinedFunction [dbo].[EmprestimoMaximo]    Script Date: 26/04/2026 15:23:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*5. Cada leitor pode ter requisitados, em cada momento, um máximo de quatro exemplares*/
CREATE FUNCTION [dbo].[EmprestimoMaximo](
	@LeitorDOC VARCHAR(50)
)
RETURNS BIT
AS
BEGIN
	DECLARE @LeitorID INT;
	SELECT @LeitorID = Id
	FROM Utilizadores
	WHERE NumeroDocumento = @LeitorDOC;
	RETURN(
		SELECT CASE 
			WHEN COUNT (*) < 4 THEN 1
			ELSE 0
			END
			FROM Emprestimos
			Where Id_leitor = @LeitorId
			AND DataEntrega IS NULL
			);
END;
GO
/****** Object:  Table [dbo].[Assuntos]    Script Date: 26/04/2026 15:23:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assuntos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Assunto] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Assuntos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Conta]    Script Date: 26/04/2026 15:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conta](
	[Id_Utilizador] [int] NOT NULL,
	[UserName] [varchar](100) NOT NULL,
	[UserPassword] [varchar](12) NOT NULL,
 CONSTRAINT [PK_Conta] PRIMARY KEY CLUSTERED 
(
	[Id_Utilizador] ASC,
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Emprestimos]    Script Date: 26/04/2026 15:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Emprestimos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Id_Leitor] [int] NOT NULL,
	[Id_Exemplar] [int] NOT NULL,
	[DataInicio] [date] NOT NULL,
	[DataEntrega] [date] NULL,
 CONSTRAINT [PK_Emprestimos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exemplares]    Script Date: 26/04/2026 15:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exemplares](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ImagemCapa] [varbinary](max) NOT NULL,
	[Edicao] [varchar](20) NOT NULL,
	[Ano] [int] NOT NULL,
	[ISBN] [varchar](20) NOT NULL,
	[Disponivel] [bit] NOT NULL,
	[Id_Obra] [int] NOT NULL,
	[Id_Nucleo] [int] NOT NULL,
 CONSTRAINT [PK_Exemplares] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hist_Emprestimos]    Script Date: 26/04/2026 15:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hist_Emprestimos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Id_Hist_Leitor] [int] NOT NULL,
	[Autor] [varchar](100) NOT NULL,
	[Titulo] [varchar](100) NOT NULL,
	[Assunto] [varchar](50) NOT NULL,
	[NomeNucleo] [varchar](100) NOT NULL,
	[IncioEmprestimo] [date] NOT NULL,
	[EntregaEmprestimo] [date] NULL,
 CONSTRAINT [PK_Hist_Emprestimos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hist_Leitores]    Script Date: 26/04/2026 15:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hist_Leitores](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NomeCompleto] [varchar](100) NOT NULL,
	[NumeroDocumento] [varchar](50) NOT NULL,
	[TipoDocumento] [varchar](30) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Morada] [varchar](100) NOT NULL,
	[Telefone] [varchar](30) NOT NULL,
 CONSTRAINT [PK_Hist_Leitores] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nucleos]    Script Date: 26/04/2026 15:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nucleos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NOT NULL,
	[Tipo] [bit] NULL,
	[Localizacao] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Nucleos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Obras]    Script Date: 26/04/2026 15:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Obras](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Autor] [varchar](100) NOT NULL,
	[Titulo] [varchar](100) NOT NULL,
	[Assunto] [int] NOT NULL,
 CONSTRAINT [PK_Obras] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 26/04/2026 15:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Tipo] [varchar](30) NOT NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposDocumento]    Script Date: 26/04/2026 15:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposDocumento](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Tipo] [varchar](30) NOT NULL,
 CONSTRAINT [PK_TiposDocumento] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposUsers]    Script Date: 26/04/2026 15:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Tipo] [varchar](30) NOT NULL,
 CONSTRAINT [PK_TiposUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Utilizadores]    Script Date: 26/04/2026 15:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Utilizadores](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NomeCompleto] [varchar](100) NOT NULL,
	[NumeroDocumento] [varchar](50) NOT NULL,
	[TipoDocumento] [int] NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Morada] [varchar](100) NOT NULL,
	[Telefone] [varchar](30) NOT NULL,
	[Id_TipoUser] [int] NOT NULL,
	[Id_Status] [int] NOT NULL,
 CONSTRAINT [PK_Leitores] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Assuntos] ON 

INSERT [dbo].[Assuntos] ([Id], [Assunto]) VALUES (3, N'Ciência')
INSERT [dbo].[Assuntos] ([Id], [Assunto]) VALUES (1, N'Ficção')
INSERT [dbo].[Assuntos] ([Id], [Assunto]) VALUES (2, N'História')
SET IDENTITY_INSERT [dbo].[Assuntos] OFF
GO
INSERT [dbo].[Conta] ([Id_Utilizador], [UserName], [UserPassword]) VALUES (1, N'admin', N'pass123')
INSERT [dbo].[Conta] ([Id_Utilizador], [UserName], [UserPassword]) VALUES (2, N'joao.bib', N'pass123')
INSERT [dbo].[Conta] ([Id_Utilizador], [UserName], [UserPassword]) VALUES (3, N'maria.bib', N'pass123')
GO
SET IDENTITY_INSERT [dbo].[Emprestimos] ON 

INSERT [dbo].[Emprestimos] ([Id], [Id_Leitor], [Id_Exemplar], [DataInicio], [DataEntrega]) VALUES (1, 4, 1, CAST(N'2026-04-01' AS Date), CAST(N'2026-04-05' AS Date))
INSERT [dbo].[Emprestimos] ([Id], [Id_Leitor], [Id_Exemplar], [DataInicio], [DataEntrega]) VALUES (2, 5, 4, CAST(N'2026-04-02' AS Date), CAST(N'2026-04-06' AS Date))
INSERT [dbo].[Emprestimos] ([Id], [Id_Leitor], [Id_Exemplar], [DataInicio], [DataEntrega]) VALUES (3, 6, 7, CAST(N'2026-04-03' AS Date), CAST(N'2026-04-10' AS Date))
SET IDENTITY_INSERT [dbo].[Emprestimos] OFF
GO
SET IDENTITY_INSERT [dbo].[Exemplares] ON 

INSERT [dbo].[Exemplares] ([Id], [ImagemCapa], [Edicao], [Ano], [ISBN], [Disponivel], [Id_Obra], [Id_Nucleo]) VALUES (1, 0x01, N'1ª Edição', 2020, N'ISBN-999-1', 0, 1, 1)
INSERT [dbo].[Exemplares] ([Id], [ImagemCapa], [Edicao], [Ano], [ISBN], [Disponivel], [Id_Obra], [Id_Nucleo]) VALUES (2, 0x01, N'1ª Edição', 2020, N'ISBN-999-1', 1, 1, 2)
INSERT [dbo].[Exemplares] ([Id], [ImagemCapa], [Edicao], [Ano], [ISBN], [Disponivel], [Id_Obra], [Id_Nucleo]) VALUES (3, 0x01, N'1ª Edição', 2020, N'ISBN-999-1', 1, 1, 3)
SET IDENTITY_INSERT [dbo].[Exemplares] OFF
GO
SET IDENTITY_INSERT [dbo].[Hist_Emprestimos] ON 

INSERT [dbo].[Hist_Emprestimos] ([Id], [Id_Hist_Leitor], [Autor], [Titulo], [Assunto], [NomeNucleo], [IncioEmprestimo], [EntregaEmprestimo]) VALUES (2, 1, N'J.K. Rowling', N'Harry Potter e a Pedra Filosofal', N'Fantasia', N'Núcleo Central', CAST(N'2026-04-10' AS Date), CAST(N'2026-04-20' AS Date))
INSERT [dbo].[Hist_Emprestimos] ([Id], [Id_Hist_Leitor], [Autor], [Titulo], [Assunto], [NomeNucleo], [IncioEmprestimo], [EntregaEmprestimo]) VALUES (3, 1, N'George R.R. Martin', N'A Guerra dos Tronos', N'Épico', N'Núcleo Norte', CAST(N'2026-04-15' AS Date), CAST(N'2026-04-25' AS Date))
INSERT [dbo].[Hist_Emprestimos] ([Id], [Id_Hist_Leitor], [Autor], [Titulo], [Assunto], [NomeNucleo], [IncioEmprestimo], [EntregaEmprestimo]) VALUES (4, 1, N'J.R.R. Tolkien', N'O Senhor dos Anéis', N'Aventura', N'Núcleo Central', CAST(N'2026-04-20' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[Hist_Emprestimos] OFF
GO
SET IDENTITY_INSERT [dbo].[Hist_Leitores] ON 

INSERT [dbo].[Hist_Leitores] ([Id], [NomeCompleto], [NumeroDocumento], [TipoDocumento], [Email], [Morada], [Telefone]) VALUES (1, N'Leitor Teste Histórico', N'30000006', N'CC', N'teste@email.com', N'Rua de Teste, 123', N'912345678')
SET IDENTITY_INSERT [dbo].[Hist_Leitores] OFF
GO
SET IDENTITY_INSERT [dbo].[Nucleos] ON 

INSERT [dbo].[Nucleos] ([Id], [Nome], [Tipo], [Localizacao]) VALUES (1, N'Núcleo Central Lisboa', 1, N'Lisboa')
INSERT [dbo].[Nucleos] ([Id], [Nome], [Tipo], [Localizacao]) VALUES (2, N'Núcleo Porto', 1, N'Porto')
INSERT [dbo].[Nucleos] ([Id], [Nome], [Tipo], [Localizacao]) VALUES (3, N'Núcleo Coimbra', 1, N'Coimbra')
SET IDENTITY_INSERT [dbo].[Nucleos] OFF
GO
SET IDENTITY_INSERT [dbo].[Obras] ON 

INSERT [dbo].[Obras] ([Id], [Autor], [Titulo], [Assunto]) VALUES (1, N'J.K. Rowling', N'Harry Potter e a Pedra Filosofal', 1)
INSERT [dbo].[Obras] ([Id], [Autor], [Titulo], [Assunto]) VALUES (2, N'George Orwell', N'1984', 1)
INSERT [dbo].[Obras] ([Id], [Autor], [Titulo], [Assunto]) VALUES (3, N'J.R.R. Tolkien', N'O Senhor dos Anéis', 1)
SET IDENTITY_INSERT [dbo].[Obras] OFF
GO
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([Id], [Tipo]) VALUES (1, N'Ativo')
INSERT [dbo].[Status] ([Id], [Tipo]) VALUES (2, N'Inativo')
INSERT [dbo].[Status] ([Id], [Tipo]) VALUES (3, N'Suspenso')
SET IDENTITY_INSERT [dbo].[Status] OFF
GO
SET IDENTITY_INSERT [dbo].[TiposDocumento] ON 

INSERT [dbo].[TiposDocumento] ([Id], [Tipo]) VALUES (1, N'CC')
INSERT [dbo].[TiposDocumento] ([Id], [Tipo]) VALUES (2, N'NIF')
INSERT [dbo].[TiposDocumento] ([Id], [Tipo]) VALUES (3, N'Passaporte')
SET IDENTITY_INSERT [dbo].[TiposDocumento] OFF
GO
SET IDENTITY_INSERT [dbo].[TiposUsers] ON 

INSERT [dbo].[TiposUsers] ([Id], [Tipo]) VALUES (3, N'Administrador')
INSERT [dbo].[TiposUsers] ([Id], [Tipo]) VALUES (2, N'Bibliotecario')
INSERT [dbo].[TiposUsers] ([Id], [Tipo]) VALUES (1, N'Leitor')
SET IDENTITY_INSERT [dbo].[TiposUsers] OFF
GO
SET IDENTITY_INSERT [dbo].[Utilizadores] ON 

INSERT [dbo].[Utilizadores] ([Id], [NomeCompleto], [NumeroDocumento], [TipoDocumento], [Email], [Morada], [Telefone], [Id_TipoUser], [Id_Status]) VALUES (1, N'Admin Geral', N'10000000', 1, N'admin@pazu.pt', N'Rua Principal 1', N'910000001', 3, 1)
INSERT [dbo].[Utilizadores] ([Id], [NomeCompleto], [NumeroDocumento], [TipoDocumento], [Email], [Morada], [Telefone], [Id_TipoUser], [Id_Status]) VALUES (2, N'João Bibliotecário', N'20000000', 1, N'joao@pazu.pt', N'Rua B 2', N'910000002', 2, 1)
INSERT [dbo].[Utilizadores] ([Id], [NomeCompleto], [NumeroDocumento], [TipoDocumento], [Email], [Morada], [Telefone], [Id_TipoUser], [Id_Status]) VALUES (3, N'Maria Livros', N'20000001', 1, N'maria@pazu.pt', N'Rua B 3', N'910000003', 2, 1)
SET IDENTITY_INSERT [dbo].[Utilizadores] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Assuntos]    Script Date: 26/04/2026 15:23:41 ******/
ALTER TABLE [dbo].[Assuntos] ADD  CONSTRAINT [UQ_Assuntos] UNIQUE NONCLUSTERED 
(
	[Assunto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Status]    Script Date: 26/04/2026 15:23:41 ******/
ALTER TABLE [dbo].[Status] ADD  CONSTRAINT [UQ_Status] UNIQUE NONCLUSTERED 
(
	[Tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_TiposDocumento]    Script Date: 26/04/2026 15:23:41 ******/
ALTER TABLE [dbo].[TiposDocumento] ADD  CONSTRAINT [UQ_TiposDocumento] UNIQUE NONCLUSTERED 
(
	[Tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_TiposUsers]    Script Date: 26/04/2026 15:23:41 ******/
ALTER TABLE [dbo].[TiposUsers] ADD  CONSTRAINT [UQ_TiposUsers] UNIQUE NONCLUSTERED 
(
	[Tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Leitores]    Script Date: 26/04/2026 15:23:41 ******/
ALTER TABLE [dbo].[Utilizadores] ADD  CONSTRAINT [UQ_Leitores] UNIQUE NONCLUSTERED 
(
	[NumeroDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Conta]  WITH CHECK ADD  CONSTRAINT [FK_Conta_Utilizadores] FOREIGN KEY([Id_Utilizador])
REFERENCES [dbo].[Utilizadores] ([Id])
GO
ALTER TABLE [dbo].[Conta] CHECK CONSTRAINT [FK_Conta_Utilizadores]
GO
ALTER TABLE [dbo].[Emprestimos]  WITH CHECK ADD  CONSTRAINT [FK_Emprestimos_Exemplares] FOREIGN KEY([Id_Exemplar])
REFERENCES [dbo].[Exemplares] ([Id])
GO
ALTER TABLE [dbo].[Emprestimos] CHECK CONSTRAINT [FK_Emprestimos_Exemplares]
GO
ALTER TABLE [dbo].[Emprestimos]  WITH CHECK ADD  CONSTRAINT [FK_Emprestimos_Utilizadores] FOREIGN KEY([Id_Leitor])
REFERENCES [dbo].[Utilizadores] ([Id])
GO
ALTER TABLE [dbo].[Emprestimos] CHECK CONSTRAINT [FK_Emprestimos_Utilizadores]
GO
ALTER TABLE [dbo].[Exemplares]  WITH CHECK ADD  CONSTRAINT [FK_Exemplares_Nucleos] FOREIGN KEY([Id_Nucleo])
REFERENCES [dbo].[Nucleos] ([Id])
GO
ALTER TABLE [dbo].[Exemplares] CHECK CONSTRAINT [FK_Exemplares_Nucleos]
GO
ALTER TABLE [dbo].[Exemplares]  WITH CHECK ADD  CONSTRAINT [FK_Exemplares_Obras] FOREIGN KEY([Id_Obra])
REFERENCES [dbo].[Obras] ([Id])
GO
ALTER TABLE [dbo].[Exemplares] CHECK CONSTRAINT [FK_Exemplares_Obras]
GO
ALTER TABLE [dbo].[Hist_Emprestimos]  WITH CHECK ADD  CONSTRAINT [FK_Hist_Emprestimos_Hist_Leitores] FOREIGN KEY([Id_Hist_Leitor])
REFERENCES [dbo].[Hist_Leitores] ([Id])
GO
ALTER TABLE [dbo].[Hist_Emprestimos] CHECK CONSTRAINT [FK_Hist_Emprestimos_Hist_Leitores]
GO
ALTER TABLE [dbo].[Obras]  WITH CHECK ADD  CONSTRAINT [FK_Obras_Assuntos] FOREIGN KEY([Assunto])
REFERENCES [dbo].[Assuntos] ([Id])
GO
ALTER TABLE [dbo].[Obras] CHECK CONSTRAINT [FK_Obras_Assuntos]
GO
ALTER TABLE [dbo].[Utilizadores]  WITH CHECK ADD  CONSTRAINT [FK_Leitores_TiposDocumento] FOREIGN KEY([TipoDocumento])
REFERENCES [dbo].[TiposDocumento] ([Id])
GO
ALTER TABLE [dbo].[Utilizadores] CHECK CONSTRAINT [FK_Leitores_TiposDocumento]
GO
ALTER TABLE [dbo].[Utilizadores]  WITH CHECK ADD  CONSTRAINT [FK_Leitores_TiposUsers] FOREIGN KEY([Id_TipoUser])
REFERENCES [dbo].[TiposUsers] ([Id])
GO
ALTER TABLE [dbo].[Utilizadores] CHECK CONSTRAINT [FK_Leitores_TiposUsers]
GO
ALTER TABLE [dbo].[Utilizadores]  WITH CHECK ADD  CONSTRAINT [FK_Utilizadores_Status] FOREIGN KEY([Id_Status])
REFERENCES [dbo].[Status] ([Id])
GO
ALTER TABLE [dbo].[Utilizadores] CHECK CONSTRAINT [FK_Utilizadores_Status]
GO
/****** Object:  StoredProcedure [dbo].[Devolucao]    Script Date: 26/04/2026 15:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Devolucao]
    @ExemplarID INT
AS
BEGIN
    IF NOT EXISTS (
        SELECT 1 FROM Emprestimos 
        WHERE Id_Exemplar = @ExemplarID 
        AND DataEntrega IS NULL
    )
    BEGIN
        RAISERROR('Este exemplar já foi devolvido ou nunca foi requisitado.', 16, 1);
        RETURN;
    END

    UPDATE Emprestimos
    SET DataEntrega = GETDATE()
    WHERE Id_Exemplar = @ExemplarID
    AND DataEntrega IS NULL;

    EXEC ExemplarDisponivel @ExemplarID;
END;
GO
/****** Object:  StoredProcedure [dbo].[Emprestimo]    Script Date: 26/04/2026 15:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Emprestimo]
	@LeitorDoc VARCHAR(50),
	@ExemplarID INT,
	@DataInicio DATE = NULL
	AS
	BEGIN
		DECLARE @DataEmprestimo DATE;
		SELECT @DataEmprestimo = ISNULL(@DataInicio, CAST(GETDATE() AS DATE));
		BEGIN TRY
		BEGIN TRANSACTION; 
			DECLARE @LeitorID INT;
			EXEC VerificarLeitor @LeitorDoc;
			EXEC VerificarObra @ExemplarID;
		
			SELECT @LeitorID = Id
			FROM Utilizadores
			WHERE NumeroDocumento = @LeitorDoc;

			EXEC RealizarEmprestimo @LeitorID, @ExemplarID, @DataEmprestimo;
			EXEC ExemplarDisponivel @ExemplarID;
		COMMIT TRANSACTION
		END TRY
		BEGIN CATCH
			ROLLBACK TRANSACTION;
			THROW;
		END CATCH
	END;
GO
/****** Object:  StoredProcedure [dbo].[Emprestimo_Devolucao]    Script Date: 26/04/2026 15:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Emprestimo_Devolucao]
	@ExemplarID INT,
	@LeitorDOC VARCHAR(50),
	@DataInicio DATE = NULL
	AS
	BEGIN
		DECLARE @LeitorID INT;
		DECLARE @ExemplarDisponivel BIT;
		DECLARE @DataEmprestimo DATE;
		SELECT @DataEmprestimo = ISNULL(@DataInicio, CAST(GETDATE() AS DATE));

		EXEC VerificarLeitor @LeitorDOC;
		SELECT @LeitorID = Id
		FROM Utilizadores
		WHERE NumeroDocumento = @LeitorDOC

		EXEC VerificarObra @ExemplarID;
		IF EXISTS (SELECT 1 FROM Emprestimos WHERE Id_Leitor = @LeitorID
											AND Id_Exemplar = @ExemplarID
											AND DataEntrega IS NULL)
		BEGIN
		EXEC Devolucao @ExemplarID;
		PRINT 'Devolução executada com sucesso';
		END
		ELSE
		BEGIN
			EXEC Emprestimo @LeitorDOC,@ExemplarID, @DataEmprestimo;
			PRINT 'Emprestimo executado com sucesso';
		END
	END;
GO
/****** Object:  StoredProcedure [dbo].[ExemplarDisponivel]    Script Date: 26/04/2026 15:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*7. Nenhum nucleo poderá ficar sem, pelo menos, um exemplar, de cada obra, disponivel para consulta presencial*/

CREATE PROCEDURE [dbo].[ExemplarDisponivel]
	@ExemplarID INT
	AS
	BEGIN
		BEGIN TRY
		BEGIN TRANSACTION
			DECLARE @ObraID INT, @NucleoID INT
			SELECT
				@ObraID = Id_Obra,
				@NucleoID = Id_Nucleo
			FROM Exemplares
			WHERE Id = @ExemplarID
			UPDATE Exemplares
			SET Disponivel = CASE
					WHEN (SELECT COUNT(*)
					FROM Exemplares
					WHERE Id_Obra = @ObraID
					AND Id_Nucleo = @NucleoID
					) - (
					SELECT COUNT(*)
					FROM Emprestimos
					INNER JOIN Exemplares ON Emprestimos.Id_Exemplar = Exemplares.Id
					WHERE Exemplares.Id_Obra = @ObraID
					AND Exemplares.Id_Nucleo = @NucleoID
					AND Emprestimos.DataEntrega IS NULL
					) = 1
					THEN 0
					ELSE 1
					END
			WHERE Id_Obra = @ObraID
			AND Id_Nucleo = @NucleoID;
		COMMIT TRANSACTION
		END TRY
		BEGIN CATCH
			ROLLBACK TRANSACTION;
			THROW;
		END CATCH
	END;
GO
/****** Object:  StoredProcedure [dbo].[Login]    Script Date: 26/04/2026 15:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Login]
	@UtilizadorDoc VARCHAR(50)
	AS
	BEGIN
		DECLARE @UserTipo INT;
		DECLARE @UserID INT;
		SELECT @UserID = Id, @UserTipo = Id_TipoUser
		FROM Utilizadores
		WHERE NumeroDocumento = @UtilizadorDoc;
		IF @UserID IS NULL
		BEGIN
			RAISERROR ('Usuário não Cadastrado. Realizar o Registro', 16, 1);
			RETURN;
			END
		ELSE IF @UserTipo = 1
			BEGIN
				PRINT 'Usuário do Tipo Leitor';
				--INSERIR AQUI PERMISSÕES USUÁRIO LEITOR
			END
		ELSE IF @UserTipo = 2
			BEGIN
				PRINT 'Usuário do Tipo Bibliotecario';
				-- INSERIR AQUI PERMISSÕES USUÁRIO BIBLIOTECARIO
			END
		ELSE 
			BEGIN
				PRINT 'Usuário do Tipo Administrador';
				--INSERIR AQUI PERMISSÕES USUÁRIO ADMINISTRADOR
			END
		END;
GO
/****** Object:  StoredProcedure [dbo].[LoginConta]    Script Date: 26/04/2026 15:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LoginConta]
    @UserName VARCHAR(100),
    @Password VARCHAR(12)
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM Conta WHERE UserName = @UserName)
    BEGIN
        RAISERROR ('Usuário não Cadastrado. Realizar o Registro', 16, 1);
        RETURN;
    END
    IF EXISTS (SELECT 1 FROM Conta WHERE UserName = @UserName AND UserPassword <> @Password)
    BEGIN
        RAISERROR ('Password incorreta.', 16, 2);
        RETURN;
    END
    SELECT 
        C.UserName, 
        U.Id_TipoUser,
        U.NomeCompleto
    FROM Conta C
    INNER JOIN Utilizadores U ON C.Id_Utilizador = U.Id
    WHERE C.UserName = @UserName;
END;

GO
/****** Object:  StoredProcedure [dbo].[RealizarEmprestimo]    Script Date: 26/04/2026 15:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*também é pretendido que seja automatizado o processo de requisição e devolução das obras disponiveis*/
CREATE PROCEDURE [dbo].[RealizarEmprestimo]
	@Id_Leitor INT,
	@Id_Exemplar INT,
	@DataInicio DATE = NULL
	AS
	BEGIN
		INSERT INTO Emprestimos (Id_Leitor, Id_Exemplar, DataInicio)
		VALUES (@Id_Leitor, @Id_Exemplar, ISNULL(@DataInicio, GETDATE()));
	END;
GO
/****** Object:  StoredProcedure [dbo].[SP_AdicionarExemplar]    Script Date: 26/04/2026 15:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Pedro Matias>
-- Create date: <07-02-2026,>
-- Description:	<Atualizar o numero de exemplares de determinada obra, adicionando 1 ou mais exemplares para uma determinada obra>
-- =============================================
CREATE PROCEDURE [dbo].[SP_AdicionarExemplar]
    @IdObra INT,
    @IdNucleo INT,
    @Edicao VARCHAR(20),
    @Ano INT,
    @ISBN VARCHAR(20),
    @CaminhoImagem NVARCHAR(MAX),
    @Quantidade INT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM Obras WHERE Id = @IdObra) OR 
       NOT EXISTS (SELECT 1 FROM Nucleos WHERE Id = @IdNucleo)
    BEGIN
        PRINT 'Obra ou Núcleo não encontrado.';
        RETURN;
    END;

    IF @Quantidade <= 0
    BEGIN
        PRINT 'A quantidade deve ser pelo menos 1.';
        RETURN;
    END;

    DECLARE @Sql NVARCHAR(MAX);
    DECLARE @Contador INT = 1;
    

    SET @Sql = N'
        INSERT INTO Exemplares (ImagemCapa, Edicao, Ano, ISBN, Disponivel, Id_Obra, Id_Nucleo)
        SELECT BulkColumn, @Edicao, @Ano, @ISBN, 1, @IdObra, @IdNucleo
        FROM OPENROWSET(BULK N''' + @CaminhoImagem + ''', SINGLE_BLOB) AS Conteudo';

    BEGIN 
        WHILE @Contador <= @Quantidade
        BEGIN
            EXEC sp_executesql @Sql, 
                 N'@Edicao VARCHAR(20), @Ano INT, @ISBN VARCHAR(20), @IdObra INT, @IdNucleo INT', 
                 @Edicao, @Ano, @ISBN, @IdObra, @IdNucleo;
            
            SET @Contador = @Contador + 1;
        END;

        PRINT CAST(@Quantidade AS VARCHAR) + ' exemplares da obra adicionados com sucesso!';
    END 
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AdicionarObra]    Script Date: 26/04/2026 15:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AdicionarObra]
    @Autor VARCHAR(100),
    @Titulo VARCHAR(100),
    @AssuntoId INT
AS
BEGIN
    SET NOCOUNT ON;
    
    IF EXISTS (SELECT 1 FROM Obras WHERE Titulo = @Titulo AND Autor = @Autor)
    BEGIN
		RAISERROR ('Já existe uma obra com este título e autor na base de dados.', 16, 2);
        RETURN;
    END
 
    BEGIN
        INSERT INTO Obras (Autor, Titulo, Assunto)
        VALUES (@Autor, @Titulo, @AssuntoId);
        SELECT SCOPE_IDENTITY() AS NovoId;
    END 
 
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_CancelarInscricao]    Script Date: 26/04/2026 15:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* ALTER PROCEDURE CancelarInscricao de maneira que não permita o cancelamento se o Leitor tiver obras requisitadas*/
CREATE PROCEDURE [dbo].[SP_CancelarInscricao]
    @NumeroDocumento NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @IdLeitor INT;
    DECLARE @IdStatusInativo INT;
    DECLARE @StatusAtual INT;
    DECLARE @ExemplaresAtivos INT;


    SELECT @IdLeitor = Id FROM Utilizadores WHERE NumeroDocumento = @NumeroDocumento;

    IF @IdLeitor IS NULL
    BEGIN
        RAISERROR('Utilizador não encontrado.', 16, 1);
        RETURN;
    END;

    SELECT @IdStatusInativo = Id FROM Status WHERE Tipo = 'Inativo';
    SELECT @StatusAtual = Id_Status FROM Utilizadores WHERE Id = @IdLeitor;

    IF (@StatusAtual = @IdStatusInativo)
    BEGIN
        RAISERROR('Esta inscrição já se encontra inativa.', 16, 1);
        RETURN;
    END;

 
    SELECT @ExemplaresAtivos = COUNT(*) 
    FROM Emprestimos 
    WHERE Id_Leitor = @IdLeitor AND DataEntrega IS NULL;

    IF @ExemplaresAtivos > 0
    BEGIN
        RAISERROR('Não é possível cancelar a inscrição. O leitor tem exemplares por devolver.', 16, 1);
        RETURN;
    END;

    UPDATE Utilizadores
    SET Id_Status = @IdStatusInativo
    WHERE Id = @IdLeitor;

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteObra]    Script Date: 26/04/2026 15:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteObra]
	@Id INT
AS
BEGIN
	
	SET NOCOUNT ON;

	--Deletar emprestimos
	DELETE FROM Emprestimos 
	WHERE Emprestimos.Id_Exemplar in (SELECT Id FROM Exemplares WHERE Exemplares.Id_Obra = @Id);

	--Deletar exemplares
	DELETE FROM Exemplares
	WHERE Id_Obra = @Id
 
	--Deletar obras
	DELETE FROM Obras
	WHERE Id = @Id
END

GO
/****** Object:  StoredProcedure [dbo].[sp_DezObrasMaisrequisitadas]    Script Date: 26/04/2026 15:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DezObrasMaisrequisitadas]
    @DataInicioIntervalo DATE,
    @DataFimIntervalo DATE
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP 10 
        COUNT(Id_Exemplar) AS TotalEmprestimos,
        Obras.Titulo,
        Obras.Autor
    FROM EMPRESTIMOS 
    INNER JOIN Exemplares ON EMPRESTIMOS.Id_Exemplar = Exemplares.Id
    INNER JOIN Obras ON Obras.Id = Exemplares.Id_Obra
    WHERE EMPRESTIMOS.DataInicio BETWEEN @DataInicioIntervalo AND @DataFimIntervalo
    GROUP BY Obras.Titulo, Obras.Autor
    ORDER BY TotalEmprestimos DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DezObrasMenosrequisitadas]    Script Date: 26/04/2026 15:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DezObrasMenosrequisitadas]
    @DataInicioIntervalo DATE,
    @DataFimIntervalo DATE
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP 10 
        COUNT(Id_Exemplar) AS TotalEmprestimos,
        Obras.Titulo,
        Obras.Autor
    FROM Obras 
    LEFT JOIN Exemplares ON Exemplares.Id_Obra = Obras.Id
    LEFT JOIN Emprestimos ON Emprestimos.Id_Exemplar = Exemplares.Id
        AND Emprestimos.DataInicio BETWEEN @DataInicioIntervalo AND @DataFimIntervalo
    GROUP BY Obras.Titulo, Obras.Autor
    ORDER BY TotalEmprestimos ASC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_EliminarAntigos]    Script Date: 26/04/2026 15:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_EliminarAntigos]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @LeitoresAEliminar TABLE (Id INT);

    INSERT INTO @LeitoresAEliminar (Id)
    SELECT Utilizadores.Id
    FROM Utilizadores 
    INNER JOIN TiposUsers  ON Utilizadores.Id_TipoUser = TiposUsers.Id
    WHERE TiposUsers.Tipo = 'Leitor' 
      AND NOT EXISTS (
       
          SELECT 1 FROM Emprestimos E 
          WHERE E.Id_Leitor = Utilizadores.Id AND E.DataEntrega IS NULL
      )
      AND (
          
          SELECT MAX(DataEntrega) FROM Emprestimos E 
          WHERE E.Id_Leitor = Utilizadores.Id
      ) < DATEADD(YEAR, -1, GETDATE());


    BEGIN TRY
        BEGIN TRANSACTION;

            DELETE FROM Emprestimos 
            WHERE Id_Leitor IN (SELECT Id FROM @LeitoresAEliminar);

            DELETE FROM Conta 
            WHERE Id_Utilizador IN (SELECT Id FROM @LeitoresAEliminar);

            DELETE FROM Utilizadores 
            WHERE Id IN (SELECT Id FROM @LeitoresAEliminar);

            DECLARE @Total INT = @@ROWCOUNT;

        COMMIT TRANSACTION;
        PRINT CAST(@Total AS VARCHAR) + ' leitores antigo eliminados com sucesso.';
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        PRINT 'Erro na eliminação: ' + ERROR_MESSAGE();
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_HistObrasRequisitadas]    Script Date: 26/04/2026 15:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_HistObrasRequisitadas] 
	@DocumentoLeitor  VARCHAR(30),
    @TipoDocumento    VARCHAR(50),
    @AgruparNucleo    BIT = 0,
    @AgruparDatas     BIT = 0,
    @InicioIntervalo  DATE = NULL,
    @FimIntervalo     DATE = NULL
AS
BEGIN

	SET NOCOUNT ON;

	SELECT 
        Autor, 
        Titulo, 
        IncioEmprestimo, 
        NomeNucleo
    FROM Hist_Emprestimos
    INNER JOIN Hist_Leitores ON Id_Hist_Leitor = Hist_Leitores.Id
    WHERE NumeroDocumento = @DocumentoLeitor 
      AND TipoDocumento = @TipoDocumento
      AND (@InicioIntervalo IS NULL OR IncioEmprestimo >= @InicioIntervalo)
      AND (@FimIntervalo IS NULL OR IncioEmprestimo <= @FimIntervalo)
    ORDER BY 
        CASE WHEN @AgruparNucleo = 1 THEN NomeNucleo END,
        CASE WHEN @AgruparDatas = 1 THEN IncioEmprestimo END,
        IncioEmprestimo DESC; 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_NucleoMaisEmprestimos]    Script Date: 26/04/2026 15:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_NucleoMaisEmprestimos]
    @DataInicioIntervalo DATE,
    @DataFimIntervalo DATE
AS
BEGIN
    SET NOCOUNT ON;
        SELECT 
    N.Nome AS Nucleo,
    COUNT(E.Id_Exemplar) AS TotalEmprestimos
FROM Nucleos N
INNER JOIN Exemplares EX ON EX.Id_Nucleo = N.Id
INNER JOIN Emprestimos E ON E.Id_Exemplar = EX.Id
WHERE E.DataInicio BETWEEN @DataInicioIntervalo AND @DataFimIntervalo
GROUP BY N.Nome
ORDER BY TotalEmprestimos DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_NucleoMenosEmprestimos]    Script Date: 26/04/2026 15:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_NucleoMenosEmprestimos]
    @DataInicioIntervalo DATE,
    @DataFimIntervalo DATE
AS
BEGIN
    SET NOCOUNT ON;
        SELECT 
    N.Nome AS Nucleo,
    COUNT(E.Id_Exemplar) AS TotalEmprestimos
FROM Nucleos N
LEFT JOIN Exemplares EX ON EX.Id_Nucleo = N.Id
LEFT JOIN Emprestimos E ON E.Id_Exemplar = EX.Id
    AND E.DataInicio BETWEEN @DataInicioIntervalo AND @DataFimIntervalo
GROUP BY N.Nome
ORDER BY TotalEmprestimos ASC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_NucleosPorOrdemEmprestimo]    Script Date: 26/04/2026 15:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_NucleosPorOrdemEmprestimo]
	@DataInicioIntervalo DATE,
	@DataFinalIntervalo DATE
AS
BEGIN
	SET NOCOUNT ON;

    SELECT Nucleos.Id AS [Id Nucleo], Nucleos.Localizacao
	FROM EMPRESTIMOS
	INNER JOIN Exemplares ON Exemplares.Id = EMPRESTIMOS.Id_Exemplar
	INNER JOIN Nucleos ON Nucleos.Id = Exemplares.Id_Nucleo
	WHERE EMPRESTIMOS.DataInicio BETWEEN @DataInicioIntervalo AND @DataFinalIntervalo
	GROUP BY Nucleos.Id, Nucleos.Localizacao
	ORDER BY COUNT(Exemplares.Id) DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ObrasDisponiveis]    Script Date: 26/04/2026 15:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObrasDisponiveis]
	@NomeNucleo VARCHAR(100) = NULL,
	@Assunto VARCHAR(50) = NULL
AS
BEGIN
	
	SET NOCOUNT ON;

	SELECT DISTINCT Titulo, Autor
	FROM Obras
	INNER JOIN Exemplares ON Id_Obra = Obras.Id
	INNER JOIN Nucleos ON Id_Nucleo = Nucleos.Id
	Inner join Assuntos ON Obras.Assunto = Assuntos.Id

	WHERE Disponivel = 1
	 AND (@NomeNucleo IS NULL OR Nome = @NomeNucleo)
	 AND (@Assunto IS NULL OR Assuntos.Assunto = @Assunto)

END
GO
/****** Object:  StoredProcedure [dbo].[SP_ReativarLeitor]    Script Date: 26/04/2026 15:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Pedro Matias>
-- Create date: <07-02-2026>
-- Description:	<Reativa a conta de um utilizador que tenha o Status Suspenso>
-- =============================================
CREATE PROCEDURE [dbo].[SP_ReativarLeitor]
     @IdUtilizador INT
AS
BEGIN
    SET NOCOUNT ON;


    DECLARE @IdStatusAtivo INT;
    DECLARE @IdStatusSuspenso INT;

    SELECT @IdStatusAtivo = Id FROM Status WHERE Tipo = 'Ativo';
    SELECT @IdStatusSuspenso = Id FROM Status WHERE Tipo = 'Suspenso';


    IF NOT EXISTS (SELECT 1 FROM Utilizadores WHERE Id = @IdUtilizador)
    BEGIN
        PRINT 'Utilizador com o ID ' + CAST(@IdUtilizador AS VARCHAR) + ' não encontrado.';
        RETURN;
    END;

    IF NOT EXISTS (SELECT 1 FROM Utilizadores WHERE Id = @IdUtilizador AND Id_Status = @IdStatusSuspenso)
    BEGIN
        PRINT 'O utilizador já se encontra Ativo.';
        RETURN;
    END;


    BEGIN
            UPDATE Utilizadores
            SET Id_Status = @IdStatusAtivo
            WHERE Id = @IdUtilizador;

        PRINT 'O acesso do utilizador foi reativado com sucesso.';
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RegistarLeitor]    Script Date: 26/04/2026 15:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_RegistarLeitor]
@NomeCompleto VARCHAR(100),
    @NumeroDocumento VARCHAR(50),
    @TipoDocumento INT,
    @Email VARCHAR(100),
    @Morada VARCHAR(100),
    @Telefone VARCHAR(30),
    @UserName varchar(100),
    @UserPassword varchar(12)
AS
BEGIN 
    SET NOCOUNT ON;

    DECLARE @IdTipoLeitor INT;
    DECLARE @IdStatusAtivo INT;
    DECLARE @NewUserId INT;

    BEGIN
        SELECT @IdTipoLeitor = Id FROM TiposUsers WHERE Tipo = 'Leitor';
        SELECT @IdStatusAtivo = Id FROM Status WHERE Tipo = 'Ativo';
    END;

    IF EXISTS (SELECT 1 FROM Utilizadores WHERE NumeroDocumento = @NumeroDocumento)
    BEGIN
        PRINT 'O documento ' + @NumeroDocumento + ' já está registado.';
        RETURN;
    END;

 
    IF EXISTS (SELECT 1 FROM Utilizadores WHERE Email = @Email)
    BEGIN
        PRINT 'O email ' + @Email + ' já está a ser utilizado.';
        RETURN;
    END;

   
    IF EXISTS (SELECT 1 FROM Utilizadores WHERE Telefone = @Telefone)
    BEGIN
        PRINT 'O telefone ' + @Telefone + ' já está associado a outro registo.';
        RETURN;
    END;

       
    IF EXISTS (SELECT 1 FROM Conta WHERE Username = @UserName)
    BEGIN
        PRINT 'O username ' + @Username + ' já está associado a outro registo.';
        RETURN;
    END;

    BEGIN

            INSERT INTO Utilizadores (
                NomeCompleto, 
                NumeroDocumento, 
                TipoDocumento, 
                Email, 
                Morada, 
                Telefone, 
                Id_TipoUser, 
                Id_Status
            )
            VALUES (
                @NomeCompleto, 
                @NumeroDocumento, 
                @TipoDocumento, 
                @Email, 
                @Morada, 
                @Telefone, 
                @IdTipoLeitor,
                @IdStatusAtivo
            );
          SET @NewUserId = SCOPE_IDENTITY();
            INSERT INTO Conta(
            USERNAME,
            USERPASSWORD,
            Id_Utilizador
            )

            VALUES (
            @UserName,
            @UserPassword,
            @NewUserId
            );
            END 

        PRINT 'Leitor ' + @NomeCompleto + ' registado com sucesso!';
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_RegistarUtilizador]    Script Date: 26/04/2026 15:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_RegistarUtilizador]
@NomeCompleto VARCHAR(100),
@NumeroDocumento VARCHAR(50),
@TipoDocumento INT,
@Email VARCHAR(100),
@Morada VARCHAR(100),
@Telefone VARCHAR(30),
@UserName VARCHAR(100),
@UserPassword VARCHAR(255),
@Id_TipoUser INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @IdStatusAtivo INT;
    DECLARE @NewUserId INT;

    SELECT @IdStatusAtivo = Id FROM Status WHERE Tipo = 'Ativo';

    IF @IdStatusAtivo IS NULL
        THROW 50001, 'Status Ativo não encontrado.', 1;

    IF EXISTS (SELECT 1 FROM Utilizadores WHERE NumeroDocumento = @NumeroDocumento)
        THROW 50001, 'Documento já registado.', 1;

    IF EXISTS (SELECT 1 FROM Utilizadores WHERE Email = @Email)
        THROW 50001, 'Email já utilizado.', 1;

    IF EXISTS (SELECT 1 FROM Utilizadores WHERE Telefone = @Telefone)
        THROW 50001, 'Telefone já utilizado.', 1;

    IF EXISTS (SELECT 1 FROM Conta WHERE Username = @UserName)
        THROW 50001, 'Username já utilizado.', 1;

    BEGIN TRANSACTION;

    INSERT INTO Utilizadores (
        NomeCompleto,
        NumeroDocumento,
        TipoDocumento,
        Email,
        Morada,
        Telefone,
        Id_TipoUser,
        Id_Status
    )
    VALUES (
        @NomeCompleto,
        @NumeroDocumento,
        @TipoDocumento,
        @Email,
        @Morada,
        @Telefone,
        @Id_TipoUser,
        @IdStatusAtivo
    );

    SET @NewUserId = SCOPE_IDENTITY();

    INSERT INTO Conta (
        Username,
        UserPassword,
        Id_Utilizador
    )
    VALUES (
        @UserName,
        @UserPassword,
        @NewUserId
    );

    COMMIT TRANSACTION;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_StatusEmprestimo]    Script Date: 26/04/2026 15:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_StatusEmprestimo]
    @IdLeitor INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        Nucleos.Nome                                        AS NomeNucleo,
        Obras.Titulo,
        Obras.Autor,
        Emprestimos.DataInicio,
        15 - DATEDIFF(DAY, Emprestimos.DataInicio, GETDATE()) AS DiasRestantes,
        CASE
            WHEN 15 - DATEDIFF(DAY, Emprestimos.DataInicio, GETDATE()) < 0
                THEN 'ATRASO'
            WHEN 15 - DATEDIFF(DAY, Emprestimos.DataInicio, GETDATE()) < 3
                THEN 'Devolução URGENTE'
            WHEN 15 - DATEDIFF(DAY, Emprestimos.DataInicio, GETDATE()) <= 5
                THEN 'Devolver em breve'
            ELSE
                'Dentro do Prazo'
        END                                                 AS StatusEmprestimo
    FROM Emprestimos
    INNER JOIN Exemplares ON Emprestimos.Id_Exemplar = Exemplares.Id
    INNER JOIN Obras      ON Exemplares.Id_Obra      = Obras.Id
    INNER JOIN Nucleos    ON Exemplares.Id_Nucleo    = Nucleos.Id
    WHERE
        Emprestimos.Id_Leitor = @IdLeitor
        AND Emprestimos.DataEntrega IS NULL
    ORDER BY
        Nucleos.Nome,
        DiasRestantes ASC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TopLeitores]    Script Date: 26/04/2026 15:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TopLeitores]
    @DataInicioIntervalo DATE,
    @DataFimIntervalo DATE
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP 3
        U.Id,
        U.NomeCompleto AS Leitor,
        COUNT(E.Id_Exemplar) AS TotalEmprestimos
    FROM Emprestimos E
    INNER JOIN Utilizadores U ON U.Id = E.Id_Leitor
    WHERE E.DataInicio BETWEEN @DataInicioIntervalo AND @DataFimIntervalo
    GROUP BY U.Id, U.NomeCompleto
    ORDER BY TotalEmprestimos DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TotalDeObras]    Script Date: 26/04/2026 15:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TotalDeObras]
AS
BEGIN
	SET NOCOUNT ON;
	SELECT COUNT(Id) AS [Total de obras]
	FROM Obras
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TotalDeObrasPorAssunto]    Script Date: 26/04/2026 15:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TotalDeObrasPorAssunto]
AS
BEGIN
	SELECT COUNT(Obras.Id) AS [Total de obras], Assuntos.Assunto
	FROM Obras
	INNER JOIN Assuntos ON Assuntos.Id = Obras.Assunto
	GROUP BY Assuntos.Assunto
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TransferirExemplar]    Script Date: 26/04/2026 15:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Pedro Matias>
-- Create date: <07-02-2026>
-- Description:	<Transferir um ou mais exemplares entre núcleos, 
--              garantindo stock mínimo para consulta presencial>
-- =============================================
CREATE PROCEDURE [dbo].[SP_TransferirExemplar]
    @IdObra INT,
    @IdNucleoOrigem INT,
    @IdNucleoDestino INT,
    @Quantidade INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @QtdRestanteOrigem INT;
    DECLARE @QtdOrigem INT;

    IF @Quantidade <= 0
    BEGIN
        PRINT 'A quantidade a transferir deve ser superior a 0.';
        RETURN;
    END;

    IF NOT EXISTS (SELECT 1 FROM Nucleos WHERE Id = @IdNucleoOrigem) OR 
       NOT EXISTS (SELECT 1 FROM Nucleos WHERE Id = @IdNucleoDestino)
    BEGIN
        PRINT 'Um ou ambos os núcleos indicados não existem.';
        RETURN;
    END;


    SELECT @QtdOrigem = COUNT(*) 
    FROM Exemplares 
    WHERE Id_Obra = @IdObra AND Id_Nucleo = @IdNucleoOrigem;

    IF (@QtdOrigem - @Quantidade) < 1
    BEGIN
        PRINT 'Transferência negada.';
        PRINT 'O núcleo de origem tem ' + CAST(@QtdOrigem AS VARCHAR) + ' exemplares.';
        PRINT 'Para manter 1 para consulta presencial, só pode transferir no máximo ' + CAST(@QtdOrigem - 1 AS VARCHAR) + ' exemplares .';
        RETURN;
    END;

    BEGIN 
            UPDATE TOP (@Quantidade) Exemplares
            SET Id_Nucleo = @IdNucleoDestino
            WHERE Id_Obra = @IdObra AND Id_Nucleo = @IdNucleoOrigem;
            PRINT CAST(@Quantidade AS VARCHAR) + ' exemplares da obra transferidos para o novo núcleo.';
       
            SELECT @QtdRestanteOrigem = COUNT(*) 
            FROM Exemplares 
            WHERE Id_Obra = @IdObra AND Id_Nucleo = @IdNucleoOrigem;

            IF @QtdRestanteOrigem = 1
            BEGIN
                UPDATE Exemplares
                SET Disponivel = 0
                WHERE Id_Obra = @IdObra AND Id_Nucleo = @IdNucleoOrigem;
                
                PRINT 'Sobrou apenas 1 exemplar na origem. Marcado como indisponível para empréstimo.';
            END
    END
    END
   
GO
/****** Object:  StoredProcedure [dbo].[sp_TransferirExemplarParaNucleo]    Script Date: 26/04/2026 15:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TransferirExemplarParaNucleo] 
	-- Add the parameters for the stored procedure here
	@Id_Exemplar INT, 
	@Id_Nucleo INT
AS
BEGIN

	UPDATE Exemplares SET Id_Nucleo = @Id_Nucleo WHERE Id = @Id_Exemplar

END

GO
/****** Object:  StoredProcedure [dbo].[SuspenderAcesso]    Script Date: 26/04/2026 15:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*9. Suspender o acesso a requisicões a leitores que tenham procedido a devoluções atrasadas em mais que três ocasiões*/
CREATE PROCEDURE [dbo].[SuspenderAcesso]
	AS
	BEGIN
		UPDATE Utilizadores
		SET	Id_Status = 3
		WHERE Id IN(
			SELECT Id_Leitor
			FROM Emprestimos
			WHERE DATEDIFF(DAY, EMPRESTIMOS.DataInicio, EMPRESTIMOS.DataEntrega) > 15
			GROUP BY Id_Leitor
			HAVING COUNT(*) > 3);
	END
GO
/****** Object:  StoredProcedure [dbo].[VerificarLeitor]    Script Date: 26/04/2026 15:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[VerificarLeitor]
	@LeitorDoc VARCHAR(50)
	AS
	BEGIN
		DECLARE @StatusID INT 
		SELECT @StatusID = Id_Status
		FROM Utilizadores
		WHERE NumeroDocumento = @LeitorDoc
			IF NOT EXISTS (SELECT 1 FROM Utilizadores WHERE NumeroDocumento = @LeitorDoc)
			BEGIN
				RAISERROR('O leitor não está registrado', 16, 1);
			RETURN;
			END
			SELECT @StatusID = Id_Status
			FROM Utilizadores
			WHERE NumeroDocumento = @LeitorDoc
			IF(@StatusID = 2)
			BEGIN
				RAISERROR('O Leitor Está Inativo', 16, 2);
			RETURN;
			END
			ELSE IF (@StatusID = 3)
			BEGIN
				RAISERROR('O Leitor Está Suspenso', 16, 3);
			RETURN;
			END
			ELSE IF (dbo.EmprestimoMaximo (@LeitorDoc) = 0)
				RAISERROR('O leitor já possui 4 exemplares requisitados', 16,2);
			RETURN;
	END;
GO
/****** Object:  StoredProcedure [dbo].[VerificarObra]    Script Date: 26/04/2026 15:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[VerificarObra]
	@ExemplarID INT
	AS
	BEGIN
		DECLARE @ObraDisponivel BIT;
		SELECT @ObraDisponivel = Disponivel
		FROM Exemplares
		WHERE Id = @ExemplarID
			IF(@ObraDisponivel = 0)
				BEGIN
				RAISERROR('O Exemplar não está disponível para empréstimo', 16, 1);
				RETURN;
				END
	END;
GO
USE [master]
GO
